version: "3.9"

services:
  api:
    build: ./api
    environment:
      PORT: 3000
    depends_on:
      - front
    ports:
      - "3000:3000"

  front:
    build: ./front
    ports:
      - "3001:3001"
